{% extends 'dashboard/index.html' %}
{% block content %}
<div class="card text-center">
  <div class="card-body">
		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<table class="table">
						<tr>
              <th>Список усіх, з ким уже привіталися:</th>
						</tr>
            {% for email in emails %}
              <tr>
                <td><small>{{email}}</small></td>
              </tr>
            {% endfor %}
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
